<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="robot_name" default="whi"/>
  <arg name="vehicle" default="L1"/>
  <arg name="vehicle_model" default="differential"/>

  <param name="/use_sim_time" value="true" />

  <include file="$(find cartographer_ros)/launch/backpack_2d_NaviBOT.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="vehicle" value="$(arg vehicle)"/>
    <arg name="vehicle_model" value="$(arg vehicle_model)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d_NaviBOT.rviz"/>
  <node name="playbag" pkg="rosbag" type="play"
      args="--clock $(arg bag_filename)"/>
</launch>
